.grid-container {
  width: 100%;
  padding: 20px;
}
table {
  width: 100%;
}
thead{
    background-color: #acacac;
}
th,
td {
  border: 1px solid black;
  height:40px;
  text-align: center;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.grid-action{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}